<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LMS</title>
    <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />
    <link href="~/Content/lmscustom.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body style="padding:unset">
    <div class="d-flex flex-column min-vh-100">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <span class="icon">
                <i class="fas fa-book-open"></i>
            </span>
            @Html.ActionLink("LMS", "MenuBorrow", "Borrow", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item btn-sm btn-dark">
                        @Html.ActionLink("Home", "UserHome", "Borrow", null, new { @class = "nav-link icon", style = "display:inline" })
                    </li>
                    <li class="nav-item btn-sm btn-dark">
                        @Html.ActionLink("About", "UserAbout", "Borrow", null, new { @class = "nav-link icon", style = "display:inline" })
                    </li>
                    <li class="nav-item btn-sm btn-dark">
                        @Html.ActionLink("Contact", "UserContact", "Borrow", null, new { @class = "nav-link icon", style = "display:inline" })
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-end" style="padding-right:50px">
                    <li class="" style="padding-left:5px; padding-right:5px">
                        @Html.ActionLink("Borrow", "MenuBorrow", "Borrow", new { area = "" }, new { @class = "nav-item btn-sm text-light", style = "text-decoration:none;border-radius:12px; background-color:#87d1d1" })
                    </li>
                    <li class="" style="padding-left:5px; padding-right:5px">
                        @Html.ActionLink("Requested", "MenuRequested", "Borrow", null, new { @class = "nav-item btn-sm btn-primary text-light", style = "text-decoration:none;border-radius:12px;background-color:#fdb98d" })
                    </li>
                    <li style="padding-left: 5px; padding-right: 5px ">
                        @Html.ActionLink("Received", "MenuReceived", "Borrow", null, new { @class = "nav-item btn-sm btn-info text-light", style = "text-decoration:none;border-radius:12px;background-color:#a1ade5" });

                    </li>
                    <li class="" style="padding-left:5px; padding-right:10px">
                        @Html.ActionLink("Rejected", "MenuRejected", "Borrow", null, new { @class = "nav-item btn-sm btn-warning text-light", style = "text-decoration:none; border-radius:12px;background-color:#f15222 " });

                    </li>
                </ul>
                <span class="text-light" style="padding-top:1px; padding-right:15px">Welcome back @Session["userName"]!!</span>
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item btn btn-sm btn-danger" style="border-radius:17px">
                        <i class="fas fa-sign-out-alt"></i>
                        @Html.ActionLink("Logout", "Logout", "User", null, new { @class = "nav-link", onclick = "return alert('Logged out successfully');", style = "display:inline; border-radius:17px" })
                    </li>
                </ul>
            </div>
        </nav>

        <div style="padding-left:20px; padding-right:20px" class="flex-fill">
            @RenderBody()
        </div>
        <div>

            <footer>
                <div style="" class="card text-center text-white bg-dark">
                    <div class="card-header">
                        Thank you for visiting us
                    </div>

                    <p>&copy; @DateTime.Now.Year - LMS</p>
                </div>
            </footer>
        </div>
       
    </div>
    
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>